@use "colors";

.faq-card-wrapper {
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 17px 35px $shadow-blue;

  & .at-box-wrapper {
    position: absolute;
    border: 1px solid red;

    z-index: 3;

    transition: bottom 0.5s ease-out, height 0.5s ease-out, width 0.5s ease-out;
    right: calc(100% - 35vw + 280px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: visible;

    & > div {
      flex-shrink: 0;
    }

    & .at-box-spacer {
      transition: width 0.5s ease-out;
      height: 100%;
      //width: 100%;
      border: 1px solid pink;
      background: pink;
    }

    & .at-box-image {
      width: 100%;
    }
  }

  & .faq-card {
    min-width: 630px;

    height: 50vh;
    width: 75vw;

    background-color: $white;

    border-radius: 25px;
    overflow: hidden;
    position: relative;

    & .faq-graphic-wrapper {
      position: absolute;
      top: 0px;

      height: 100%;
      max-width: none;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      transition: margin-top 0.5s ease-out;
      right: calc(100% - 35vw);

      & .faq-graphic {
        z-index: 2;
        border: 1px solid lime;
      }

      & .graphic-background-wrapper {
        position: absolute;
        transition: bottom 0.5s ease-out;
        height: 50vh;
        width: 100%;

        & .graphic-background {
          transition: filter 0.5s ease-out;
        }
      }
    }

    & .faq-list-wrapper {
      position: absolute;
      left: 50%;
      top: 0px;

      height: 100%;
      width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;

      padding: 50px 25px 50px 5px;

      font-family: sans-serif;

      & h1 {
        margin-bottom: 5%;
        height: 20%;
      }

      & .faq-list {
        height: 80%;
        max-height: 80%;
        width: 100%;
        overflow-y: scroll;

        & .faq-item-component {
          width: 100%;

          position: relative;
          overflow: scroll;

          & .question {
            height: 100%;
            padding: 10px 5px 10px 15px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: stretch;

            & .question-text {
              flex-basis: 85%;
              border: 1px solid green;
            }

            & .open-close-arrow {
              flex-basis: 10%;
              border: 1px solid orange;
              transition: transform 0.25s ease-out;
            }
          }

          & .answer-wrapper {
            transition: height 0.5s ease-out;
            z-index: 1;
            background: $lightlightorange;

            & .answer {
              padding: 10px 20px;
              font-style: italic;
            }
          }

          &:hover {
            cursor: pointer;

            & .question {
            }
          }
        }
      }
    }
  }
}
