@use "colors";

.faq-card-wrapper {
  position: relative;

  & .at-box-wrapper {
    position: absolute;
    border: 1px solid red;

    z-index: 3;

    transition: bottom 1s ease-in-out, height 1s ease-in-out,
      width 1s ease-in-out;
    right: calc(100% - 35vw + 280px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: visible;

    & > div {
      flex-shrink: 0;
    }

    & .at-box-spacer {
      transition: width 1s ease-in-out;
      height: 100%;
      //width: 100%;
      border: 1px solid pink;
      background: pink;
    }

    & .at-box-image {
      width: 100%;
    }
  }

  & .faq-card {
    min-width: 630px;

    height: 50vh;
    width: 75vw;

    background-color: $white;

    border-radius: 25px;
    overflow: hidden;
    position: relative;

    & .faq-graphic-wrapper {
      position: absolute;
      top: 0px;

      height: 100%;
      max-width: none;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      transition: margin-top 1s ease-in-out;
      right: calc(100% - 35vw);

      & .faq-graphic {
        z-index: 2;
        border: 1px solid lime;
      }

      & .graphic-background {
        position: absolute;
        bottom: 5vh;
        height: 50vh;
        width: 100%;
      }
    }

    & .faq-list-wrapper {
      border: 1px solid green;
      position: absolute;
      left: 50%;
      top: 0px;

      height: 100%;
      width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;

      padding: 50px 25px 50px 5px;

      font-family: sans-serif;

      & h1 {
        margin-bottom: 5%;
        flex-grow: 2;
      }

      & .faq-list {
        flex-grow: 8;
        width: 100%;

        & .faq-item-component {
          border-bottom: 1px solid black;
          padding: 10px 5px;
          width: 100%;

          position: relative;

          & .answer {
            &:hover {
              cursor: default;
              background: $gray;
            }
          }

          & .open-close-arrow {
            position: absolute;
            top: 0px;
            right: 0px;
            transition: transform 1s ease-in-out;
          }
        }
      }
    }
  }
}
