@use "colors";

.faq-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 50vh;
  width: 75vw;

  background-color: $white;

  border-radius: 25px;
}
