@use "colors";

.faq-card-wrapper {
  position: relative;

  & .at-box-wrapper {
    position: absolute;
    border: 1px solid red;

    z-index: 3;

    transition: bottom 1s ease-in-out, height 1s ease-in-out,
      width 1s ease-in-out;
    right: calc(100% - 35vw + 280px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: visible;

    & > div {
      flex-shrink: 0;
    }

    & .at-box-spacer {
      transition: width 1s ease-in-out;
      height: 100%;
      //width: 100%;
      border: 1px solid pink;
      background: pink;
    }

    & .at-box-image {
      width: 100%;
    }
  }

  & .faq-card {
    min-width: 630px;

    height: 50vh;
    width: 75vw;

    background-color: $white;

    border-radius: 25px;
    overflow: hidden;
    position: relative;

    & .faq-graphic-wrapper {
      position: absolute;
      top: 0px;

      height: 100%;
      max-width: none;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      transition: margin-top 1s ease-in-out;
      right: calc(100% - 35vw);

      & .faq-graphic {
        z-index: 2;
        border: 1px solid lime;
      }

      & .graphic-background {
        position: absolute;
        bottom: 5vh;
        height: 50vh;
        width: 100%;
      }
    }

    & .faq-pane {
      border: 1px solid green;
      position: absolute;
      left: 50%;
      top: 0px;

      height: 100%;
      width: 50%;
    }
  }
}
