@import "colors";

body {
  margin: 0;
}

.App {
  background: linear-gradient(45deg, $bg-blue, $bg-pink);

  height: 100vh;
  width: 100vw;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
