@import "colors";
@import "reset";
@import "faq-card";

.App {
  background: linear-gradient(45deg, $bg-blue, $bg-pink);

  height: 100vh;
  width: 100vw;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  //position: relative;
  & .border-toggle-button {
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px 3px;
    position: absolute;
    top: 5%;
    right: 5%;

    width: 100px;

    border-radius: 10px;
    background: white;
    box-shadow: none;
    border: none;

    &:hover {
      background-color: $lightorange;
      cursor: pointer;
    }
  }
}
