html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.faq-card-wrapper {
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 17px 35px #533db3;
}
.faq-card-wrapper .at-box-wrapper {
  position: absolute;
  border: 1px solid red;
  z-index: 3;
  transition: bottom 0.5s ease-out, height 0.5s ease-out, width 0.5s ease-out;
  right: calc(123% - 60vw + 430px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.faq-card-wrapper .at-box-wrapper > div {
  flex-shrink: 0;
}
.faq-card-wrapper .at-box-wrapper .at-box-spacer {
  transition: width 0.5s ease-out;
  height: 100%;
  border: 1px solid pink;
  background: pink;
}
.faq-card-wrapper .at-box-wrapper .at-box-image {
  width: 100%;
}
.faq-card-wrapper .faq-card {
  min-width: 630px;
  height: 50vh;
  width: 75vw;
  background-color: #ffffff;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.faq-card-wrapper .faq-card .faq-graphic-wrapper {
  position: absolute;
  top: 0px;
  height: 100%;
  max-width: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: margin-top 0.5s ease-out;
  right: calc(90% - 24vw);
}
.faq-card-wrapper .faq-card .faq-graphic-wrapper .faq-graphic {
  z-index: 2;
  border: 1px solid lime;
}
.faq-card-wrapper .faq-card .faq-graphic-wrapper .graphic-background-wrapper {
  position: absolute;
  transition: bottom 0.5s ease-out;
  height: 50vh;
  width: 100%;
}
.faq-card-wrapper .faq-card .faq-graphic-wrapper .graphic-background-wrapper .graphic-background {
  transition: filter 0.5s ease-out;
}
.faq-card-wrapper .faq-card .faq-list-wrapper {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  padding: 50px 25px 50px 5px;
  font-family: sans-serif;
}
.faq-card-wrapper .faq-card .faq-list-wrapper h1 {
  margin-bottom: 5%;
  height: 20%;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list {
  height: 80%;
  max-height: 80%;
  width: 100%;
  overflow-y: scroll;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list .faq-item-component {
  width: 100%;
  position: relative;
  overflow: scroll;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list .faq-item-component .question {
  height: 100%;
  padding: 10px 5px 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list .faq-item-component .question .question-text {
  flex-basis: 85%;
  border: 1px solid green;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list .faq-item-component .question .open-close-arrow {
  flex-basis: 10%;
  border: 1px solid orange;
  transition: transform 0.25s ease-out;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list .faq-item-component .answer-wrapper {
  transition: height 0.5s ease-out;
  z-index: 1;
  background: #fff7f7;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list .faq-item-component .answer-wrapper .answer {
  padding: 10px 20px;
  font-style: italic;
}
.faq-card-wrapper .faq-card .faq-list-wrapper .faq-list .faq-item-component:hover {
  cursor: pointer;
}
.App {
  background: linear-gradient(45deg, #6462e8, #af68ea);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
